<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>aba-web</title>
    <!-- CSS -->
    <link href="//cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/codemirror/4.5.0/codemirror.css" rel="stylesheet">
    <style>
#source_code {
    font-family: monospace;
}
/* http://bl.ocks.org/mbostock/4062045 GNU GPL v3, Mike Bostock */

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
  stroke-opacity: .6;
}
circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}
text {
  font: 12px sans-serif;
  pointer-events: none;
}

/* http://bl.ocks.org/Caged/6476579 */
.d3-tip {
  line-height: 1.2em;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  text-align: center;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 10px;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

svg {
    display: block;
    margin: 0 auto;
}
#debug {
    display: none;
}
#header {
    margin-top: 0px;
}
footer {
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px solid #EEEEEE;
}

.CodeMirror {
    /* Bootstrap Settings */
    box-sizing: border-box;
    margin: 1em 0;
    font: inherit;
    overflow: auto;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 0px 12px 0px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* Code Mirror Settings */
    font-family: monospace;
    position: relative;
    overflow: hidden;
}

.CodeMirror-focused {
    /* Bootstrap Settings */
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">aba-web</a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#help">Help</a></li>
            </ul>
            </div>
        </div>
    </nav>
    <header id="header" class="container page-header">
        <h1>aba-web <small>Assumption-Based Argumentation Web Interface</small></h1>
    </header>
    <main id="main" class="container">
        <div id="help" class="nav-main" style="display: none;">
            <h2>Features</h2>
            <p>Using dispute tree approach, this project implements assumption-based argumentation and is able to compute the following semantics: </p>
            <ul>
                <li>Conflict-free: An argument is conflict-free iff it does not attack itself.</li>
                <li>Admissible: An argument is admissible iff it is conflict-free and attacks all arguments attacking it.</li>
                <li>Complete: An argument is complete iff it is admissible and contains all arguments it can defend (by attacking every arguments attacking them)</li> 
                <li>Grounded: An argument is grounded iff it is minimally (with respect to set inclusion) complete.</li>
                <li>Stable: An argument is stable iff conflict-free and attacks every argument that does not belong to itself.</li>
                <li>Ideal: An argument is ideal iff admissible and there are no admissible arguments attacking it.</li>
            </ul>
            <h2>Syntax</h2>
            <p>Syntax for input area consists of multiple lines of codes, where each line can only be a single type of expression. There are three types of expression supported in the project, namely: </p>
            <ul>
                <li>Rule<br />
                <code>supporting |- claim.</code><br />
                <p>Supporting symbols (supporting) are comma-separated symbols, meanwhile claim can only contains one symbol. A symbol is a string of continuous string of characters. A valid rule has supporting symbols appeared in other supported symbols or assumptions. </p>
                </li> 
                <li>Contrary<br />
                <code>contrary(a, b).</code><br />
                <p>Meaning that argument containing a as assumption can be attacked by argument with b as its claim.</p></li>
                <li>Assumption<br />
                <code>assumption(a).</code><br />
                <p>Explicitly states that a is an assumption. Every assumption need to have its contrary.</p></li>
            </ul>
            <h2>About</h2>
            A final year project by <a href="https://kenrick95.org">Kenrick</a>. Source is available on <a href="https://github.com/kenrick95/aba-web">GitHub</a> (private repo).
        </div>
        <div id="home" class="nav-main">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <form id="form">
                        <textarea id="source_code" rows="5">
q, r |- p.
|- q.
a |- r.
b |- s.
contrary(a, s).
contrary(b, p).
c |- d.
assumption(c).
contrary(c, r).
                        </textarea>
                        <button type="submit" class="btn btn-default" id="form-submit">Submit</button>
                    </form>
                    <div id="parse-errors" class="text-danger"></div>
                    <div id="debug">
                        
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 fade" id="tab-output">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="tab-output-list">
                    <li class="active"><a href="#output-argument" data-toggle="tab">Arguments</a></li>
                    <li class="dropdown">
                        <a id="output-dropdown-toggle" href="#" data-target="output-dropdown-dt" class="dropdown-toggle" data-toggle="dropdown">Dispute Trees <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="output-dropdown-dt">
                        </ul>
                    </li>
                    <li><a href="#statistics" data-toggle="tab">Statistics</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" id="tab-output-content">
                    <div class="tab-pane active fade in" id="output-argument"></div>
                    <div class="tab-pane fade in" id="statistics"></div>
                </div>

                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container"> 
            &copy; 2016 - Kenrick
        </div>
    </footer>
    <script src="//cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/d3js/3.5.17/d3.min.js"></script>
    <script src="//cdn.jsdelivr.net/codemirror/4.5.0/codemirror.min.js"></script>
    <script src="//cdn.rawgit.com/Caged/d3-tip/master/index.js"></script>
    <script>
        // http://bl.ocks.org/mbostock/4062045
        // http://bl.ocks.org/mbostock/2706022
        // http://bl.ocks.org/d3noob/5141278
    $(document).ready(function () {
        // Navigation
        function onHashChange() {
            var location = window.location.hash.toLowerCase();
            if (["#home", "#help"].indexOf(location) === -1) {
                location = "#home";
            }
            $(".nav-main").hide();
            $(location).fadeIn();
            $(".nav > .active").removeClass("active");
            $("a[href='" + location + "']").parent().addClass("active");
        }
        onHashChange();
        $(window).on('hashchange', onHashChange);

        var global_data = null;
        var code_mirror = CodeMirror.fromTextArea($("#source_code")[0], {
            indentUnit: 2,
            lineNumbers: true,
            tabindex: -1,
            autofocus: true,
            showCursorWhenSelecting: true,
            viewportMargin: Infinity
        });

        $("#form").submit(function (e) {
            e.preventDefault();
            
            clearOutput();
            $.ajax({
                url: "api",
                data: {
                    source_code: $("#source_code").val()
                },
                dataType: "json",
                method: "POST",
                success: function (data) {

                    if (data.hasOwnProperty('errors')) {
                        $("#parse-errors").text(data.errors);
                        return false;
                    }

                    $("#statistics").html("");
                    var stats = [
                        "# Symbols: " + data.statistics.symbols,
                        "# Potential arguments: " + data.statistics.potential_arguments,
                        "# Arguments: " + data.statistics.arguments,
                        "# Assumptions: " + data.statistics.assumptions,
                        "# Conflict-free arguments: " + data.statistics.is_conflict_free,
                        "# Admissible arguments: " + data.statistics.is_admissible,
                        "# Complete arguments: " + data.statistics.is_complete,
                        "# Grounded arguments: " + data.statistics.is_grounded,
                        "# Ideal arguments: " + data.statistics.is_ideal,
                        "# Stable arguments: " + data.statistics.is_stable,
                        "Wall time: " + data.statistics.wall_time + "s",
                        "CPU time: " + data.statistics.cpu_time + "s",
                    ];
                    $("#statistics").html(stats.join("<br/>"))

                    $("#tab-output").addClass("in");
                    $("#tab-output").height("auto");
                    
                    $("#debug").text(JSON.stringify(data));
                    global_data = data;
                    console.log(data);
                    drawD3_arg_adapter(data.arguments, "argument");
                    for (var key in data.dispute_trees) {
                        if (data.dispute_trees.hasOwnProperty(key)) {
                            add_tab_dt(key, data.dispute_trees);
                        }
                    }
                    $("#parse-errors").html("");
                    if (data.parse_errors.length > 0) {
                        $("#parse-errors").html(data.parse_errors.join("<br/>"))
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error(jqXHR);
                    console.error(textStatus);
                    console.error(errorThrown);
                    $("#debug").text(textStatus);
                }
            });
        });
        
        function clearOutput() {
            $("#tab-output").removeClass("in");
            $("#tab-output").height($("#tab-output").height());
            $(".li-dt").remove();
            $(".output-dt").remove();
            $("svg").remove();
            $('#tab-output-list a:first').tab('show');
        }
        
        function add_tab_dt(name) {
            var tab_list_new = $("<li/>", {
                class: "li-dt",
                html: $("<a/>", {
                    href: "#output-dt-" + name,
                    "data-toggle": "tab",
                    text: "Dispute Tree for " + name
                })
            });
            
            $("#output-dropdown-dt").append(tab_list_new);
            $(tab_list_new).find('a').tab();
            $("#output-dropdown-toggle").dropdown();
            
            $("#tab-output-content").append($("<div/>", {
                class: "tab-pane fade output-dt",
                id: "output-dt-" + name,
                html: $("<div/>", {
                    id: "output-dt-text-" + name
                })
            })).promise().done(function () {
                drawD3_dt_adapter(global_data.dispute_trees[name], name);
            });
            
            
        }
        function drawD3_arg_adapter(graph, el_name) {
            for (var i = 0; i < graph.nodes.length; i++) {
                graph.nodes[i].text_label = graph.nodes[i].id.substring(0, graph.nodes[i].id.lastIndexOf(graph.nodes[i].group) - 1);
                graph.nodes[i].id = graph.nodes[i].text_label + "\nSupporting " + graph.nodes[i].group;
            }
            for (var i = 0; i < graph.nodes.length; i++) {
                if (graph.nodes[i].id.lastIndexOf(graph.nodes[i].group) ===
                        graph.nodes[i].id.length - graph.nodes[i].group.length
                    &&
                        graph.nodes[i].id.indexOf(graph.nodes[i].group) === 0) {
                    graph.nodes[i].group = "root";
                }
            }
            for (var i = 0; i < graph.nodes.length; i++) {
                if (graph.nodes[i].group == "root") {
                    graph.nodes[i].id = graph.nodes[i].text_label + "\n(Root)";
                }
            }
            drawD3(graph, el_name);
        }
        function drawD3_dt_adapter(raw_graph, name) {
            var graph = JSON.parse(raw_graph);
            // console.log(graph);
            for (var i = 0; i < graph.nodes.length; i++) {
                var new_label = "(" + graph.nodes[i].label + ") " +  graph.nodes[i].id.root;
                
                
                if (graph.nodes[i].id.root == name) {
                    graph.nodes[i].group = "root";
                }
                
                graph.nodes[i].id = graph.nodes[i].text_label;
                graph.nodes[i].text_label = new_label;
            }
            drawD3(graph, "dt-" + name, true);
            
            show_dt_text(name);
        }
        function show_dt_text(name) {
            var properties = ['is_conflict_free', 'is_stable', 'is_admissible', 'is_grounded', 'is_ideal', 'is_complete'],
                prop_text = ["conflict free", "stable", "admissible", "grounded", "ideal", "complete"],
                shown_text = [];
            for (var i = 0; i < properties.length; i++) {
                if (global_data.dispute_trees_data[name][properties[i]])
                {
                    shown_text.push(prop_text[i])
                }
            }
            shown_text = shown_text.join(', ');
            shown_text = shown_text.charAt(0).toUpperCase() + shown_text.slice(1);
            
            $("#output-dt-text-" + name).text(shown_text);  
        };
        
        function rootColor() {
            return "#FF4136";
        }
        function drawD3(graph, el_name) {
            var width = 750,
                height = 500,
                curvy = false;
            if (arguments.length === 3) {
                curvy = arguments[2];
            }

            var color = d3.scale.category20();

            var force = d3.layout.force()
                .gravity(.1)
                .charge(-350)
                .linkDistance(80)
                .size([width, height]);
                
            var tip = d3.tip()
                .offset([-10, 0])
                .attr('class', 'd3-tip').html(function(d) {
                    return d.id.replace("\n", "<br />");
                });
            var tipEdge = d3.tip()
                .offset(function() {
                    return [this.getBBox().height / 2 - 10, 0]
                })
                .attr('class', 'd3-tip').html(function(d) {
                    console.log(d);
                    return d;
                });

            var svg = d3.select("#output-" + el_name).append("svg")
                .attr("width", width)
                .attr("height", height)
                .call(tip)
                .call(tipEdge);

            force
                .nodes(graph.nodes)
                .links(graph.links)
                .start();

            // build the arrow.
            // Note: http://jsfiddle.net/5qaL886d/1/ ; this breaks IE10

            var link = null;
            if (el_name === "argument") {
                svg.append("svg:defs").selectAll("marker")
                    .data(["end-" + el_name ])
                    .enter().append("svg:marker")
                    .attr("id", String)
                    .attr("viewBox", "-7 -7 14 14")
                    .attr("refX", 14)
                    .attr("refY", 0)
                    .attr("markerWidth", 6)
                    .attr("markerHeight", 6)
                    .attr("orient", "auto")
                    .append("svg:circle")
                        .attr("r", 5)
                        .style("fill", "#000")
                link = svg.append("svg:g").selectAll("path")
                    .data(graph.links)
                    .enter().append("svg:path")
                    .attr("class", "link")
                    .attr("marker-end", "url(#end-" + el_name + ")");

            } else { // Dispute tree

                svg.append("svg:defs").selectAll("marker")
                    .data(["start-" + el_name ])
                    .enter().append("svg:marker")
                    .attr("id", String)
                    .attr("viewBox", "-10 -5 10 10")
                    .attr("refX", -15)
                    .attr("refY", 0)
                    .attr("markerWidth", 6)
                    .attr("markerHeight", 6)
                    .attr("orient", "auto")
                    .append("svg:path")
                    .attr("d", "M0,5L-10,0L0,-5");
                link = svg.append("svg:g").selectAll("path")
                    .data(graph.links)
                    .enter().append("svg:path")
                    .attr("class", "link")
                    .attr("marker-start", "url(#start-" + el_name + ")");
            }

            var node = svg.selectAll(".node")
                .data(graph.nodes)
                .enter().append("g")
                .attr("class", "node")
                .call(force.drag);
                
                
            node.append("circle")
                .attr("class", "node_circle")
                .attr("r", function(d) { return d.group == "root" ? 6 : 5; })
                .style("fill", function(d) { return d.group == "root" ? rootColor(d.group) : color(d.group); })

                .on('mouseover', tip.show)
                .on('mouseout', tip.hide);
            
            node.append("text")
                .attr("x", 12)
                .attr("dy", ".35em")
                .text(function(d) { return 'text_label' in d ? d.text_label : d.id; });
            
            force.on("tick", function(e) {
                var k = 6 * e.alpha;
                graph.links.forEach(function(d, i) {
                    if ('depth' in d.source && 'depth' in d.target) {
                        if (d.source.depth < d.target.depth) {
                            d.source.y -= k;
                            d.target.y += k;
                        } else {
                            d.source.y += k;
                            d.target.y -= k;
                        }
                    } else {
                        d.source.y -= k;
                        d.target.y += k;
                    }
                });

                node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

                link.attr("d", function(d) {
                    var dx = d.target.x - d.source.x,
                        dy = d.target.y - d.source.y,
                        dr = Math.sqrt(dx * dx + dy * dy);
                    if (!curvy) {
                        dr = 0;
                    }
                    return "M" + 
                        d.source.x + "," + 
                        d.source.y + "A" + 
                        dr + "," + dr + " 0 0,1 " + 
                        d.target.x + "," + 
                        d.target.y;
                });
            });
        }
    });
    
    </script>
</body>
</html>